@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart

<div class="card" style="width: 18rem;">
    <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top" alt="@Cheese.Name">
    <div class="d-grid gap-2">
        <span class="position-absolute top-0 start-50 translate-middle badge bg-primary" style="font-size:20px">@Cheese.Name</span>
    </div>
    <div class="card-body">
        <p style="text-align:center">
            <span class="badge text-bg-secondary" style="font-size:20px">£@Cheese.Price per 100g</span>
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="d-grid gap-2">
                    <span class="badge text-light-emphasis bg-light-subtle border border-light-subtle rounded-2" style="text-align:center">Type: @Cheese.Type</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-grid gap-2">
                    <span class="badge text-light-emphasis bg-light-subtle border border-light-subtle rounded-2" style="text-align:center">
                        Strength: @Cheese.Strength
                    </span>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <div style="padding:10px">
        <p class="card-text"><i>@Cheese.Description</i></p>
        </div>
    </ul>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                        @for (var i = 1; i <= 5; i++)
                        {
                            <option value="@i">@(i * 100)g</option>
                        }
                    </InputSelect>
                </h3>
            </div>
            <div class="col-md-6">
                <h3><button class="btn btn-primary" @onclick="AddToCart">Add to Cart</button></h3>
            </div>
        </div>
    </div>
</div>
<div class="mb-5" />


@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}

<EditForm Model="quantity" OnSubmit="AddToCart">
    <div class="row"></div>
</EditForm>