@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart

<div class="card" style="width: 18rem;">
    <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top" alt="@Cheese.Name">
    <div class="card-body">
        <h5 class="card-title">@Cheese.Name</h5>
        <p class="card-text">@Cheese.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="text-align:center">
            <div class="alert alert-secondary">
                Type: @Cheese.Type
            </div>
        </li>
        @* Changes the colour of the cheese strength display depending on the strength. *@
        <li class="list-group-item" style="text-align:center">
        @if (@Cheese.Strength == "Mild")
        {
            <div class="alert alert-success">
                Strength: @Cheese.Strength
            </div>
        }
        else if (@Cheese.Strength == "Medium")
        {
            <div class="alert alert-warning">
                Strength: @Cheese.Strength
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Strength: @Cheese.Strength
            </div>
        }
        </li>
    </ul>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                        @for (var i = 1; i <= 5; i++)
                        {
                            <option value="@i">@(i * 100)g</option>
                        }
                    </InputSelect>
                </h3>
            </div>
            <div class="col-md-6">
                <h3><button class="btn btn-primary" @onclick="AddToCart">Buy cheese</button></h3>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}

<EditForm Model="quantity" OnSubmit="AddToCart">
    <div class="row"></div>
</EditForm>